absl-py==0.1.10
atari-py==0.1.1
azure==1.0.3
azure-common==1.1.8
azure-mgmt==0.20.2
azure-mgmt-common==0.20.0
azure-mgmt-compute==0.20.1
azure-mgmt-network==0.20.1
azure-mgmt-nspkg==2.0.0
azure-mgmt-resource==0.20.1
azure-mgmt-storage==0.20.0
azure-nspkg==2.0.0
azure-servicebus==0.20.1
azure-servicemanagement-legacy==0.20.2
azure-storage==0.20.3
-e git+https://github.com/lobachevzky/hsr.git@9acaaa39ba9a7692de3990ec6d22b506ac9217c7#egg=baselines
bleach==1.5.0
certifi==2018.1.18
chardet==3.0.4
Cython==0.27.3
dill==0.2.7.1
enum34==1.1.6
future==0.16.0
gym==0.9.3
html5lib==0.9999999
idna==2.6
joblib==0.11
Markdown==2.6.11
mpi4py==3.0.0
-e git+git@github.com:lobachevzky/mujoco.git@a5179634b9729b6f7096f1737bf1f869b4b807d1#egg=mujoco
numpy==1.13.3
opencv-python==3.4.0.12
Pillow==5.0.0
progressbar2==3.34.3
protobuf==3.5.1
pygame==1.9.3
pyglet==1.3.1
PyOpenGL==3.1.0
python-dateutil==2.6.1
python-utils==2.2.0
PyYAML==3.12
pyzmq==17.0.0
scipy==1.0.0
six==1.11.0
tensorflow-gpu==1.4.0
tensorflow-tensorboard==0.4.0
tqdm==4.19.5
urllib3 ~> 1.23
Werkzeug==0.14.1
zmq==0.0.0
